.recordButton
{
    border: 3px solid #183153;
    border-radius: 8px;
    background: #183153;
    width: 328px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    color: #559092;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}

.playButton
{
    border: 2px solid #183153;
    border-radius: 8px;
    background-color: #559092;
    color:#183153;
    font-weight: bold;
    width: 185px;
    height: 29px;
    cursor: pointer;
    margin-top: 15px;
}

.buttonsBody
{
    display: flex;
    flex-direction: column;
    align-items: center;
}