.home{
    display: flex;
    flex-direction: column;
    
}

.homeimage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logohome{
    width: 134px;
    margin: 30px;
}

.contentHome {
    height: 80vh;
    flex: 1; /* Hace que este contenedor ocupe todo el espacio disponible */
    display: flex; /* O puedes usar grid si prefieres */
    flex-direction: column; /* Apilar el contenido verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
}