.home{
    display: flex;
    flex-direction: column;
    
}

.homeimage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logohome{
    width: 134px;
    margin: 30px;
}

.overheadSpace{
    min-height: 13vh;
}

.spaceBelow{
    min-height: 20vh;
}