* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  background-color: #C8E3DF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: vh;
}
.main-content {
  flex: 1; 
  margin-bottom: 80px; 
}
.carousel-container {
  width: 90%;
  margin: 0 auto;
}